# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
django_errors.log

# VS Code
.vscode/

# Staticfiles
staticfiles/

# Database dumps (will be converted to SQL for deployment)
*.dump

# Environment files
.env
*.sql
